if theme.comments.gentie_key && page.comments
  #cloud-tie-wrapper.cloud-tie-wrapper
  script.
    var cloudTieConfig = {
      url: document.location.href, 
      sourceId: "",
      productKey: "#{theme.comments.gentie_key}",
      target: "cloud-tie-wrapper"
    };
  script(src='https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js')
