extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    if !page.hide_title
      h1.post-title= page.title
    .post-content
      != page.content
  include _partial/comments
